---
import Social from './Social.astro';
---

<style>
	div {
		display: flex;
		gap: 1rem;
		margin-top: 2rem;
	}
</style>

<footer>
	<p>Learn more about my projects on:</p>
	<div>
		<Social platform='github' username='jpkiyoshi' />
		<Social platform='twitter' username='jpkiyoshi' />
		<Social platform='linkedin' username='joao-paulo-kiyoshi' />
		<Social platform='instagram' username='jp_kiyoshi' />
	</div>
</footer>
